html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(/imgs/playstation-pattern.png);
}

*:focus {
    outline: none !important;
}

a:hover {
	text-decoration: none !important;
}