.footer {
	color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 18px;
    background-color: #393953;
    height: 100px;
    margin: 0px;
    width: 100%;
}

.footer a {
	color: #fff;
}

.sticky-footer{
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1440px){
    .sticky-footer{
        display: none;
    }
}