.nomatch-jumbotron {
  color: #fff;
  width: 100%;
  background: url(/imgs/background.png) no-repeat center right fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  overflow: hidden;
}

.footprints {
  margin-top: -200px;
  margin-left: 25px; /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari 3-8 */
  transform: rotate(-15deg);
}

