.note {
	max-height: 100px;
	padding: 5px 20px 5px 20px;
	overflow: auto;
	border-radius: 5px;
	background: #EEF2FF;
}

.button-margin {
	margin-top: -10px;
	margin-bottom: 10px;
}

.board {
    min-height: 100vh;
    min-width: 100vw;
    display: inline-flex;

	flex-wrap: nowrap;
}

.job-link {
	color: rgb(88, 105, 167);
}

.job-link:hover {
	color: #3c98ff;
}

.delete-icon {
	margin-top: -20px !important;
	margin-right: -25px !important;
	font-size: 15px !important;
}