.hide-overflow {
    overflow-x: hidden;
}

.svg-icon {
    width: 40%;
    display: block;
}


.deer-guy {
    height: 290px;
    display: block;
    margin-top: -270px;
    margin-right: -200px;
}

@media only screen and (max-width: 990px) {
    .deer-guy {
        display: none;
    }
    .svg-icon-chart {
        width: 30%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 450px) {
    .svg-icon-list {
        width: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .svg-icon-chart {
        width: 50%;
    }
}

.welcome-msg {
    margin-bottom: 100px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.section-2 {
    background-color: #ededed;
    overflow-x: hidden;
}

.section-3 {
    margin-top: 50px;
}

.section-4 {
    background-color: #ededed;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    overflow-x: hidden;
}

.sign-up-btn {
    font-size: 30px;
    line-height: 55px;
    height: 70px;
    width: 250px;
    box-shadow: 0px 0px 1px #888888;
}