.hide-overflow {
    overflow-x: hidden;
}

.svg-icon {
    width: 40%;
    display: block;
}


.deer-guy {
    height: 290px;
    display: block;
    margin-top: -270px;
    margin-right: -200px;
}

@media only screen and (max-width: 990px) {
    .deer-guy {
        display: none;
    }
    .svg-icon-chart {
        width: 30%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 450px) {
    .svg-icon-list {
        width: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .svg-icon-chart {
        width: 50%;
    }
}

.welcome-msg {
    margin-bottom: 100px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.strike {
    text-decoration: line-through;
}

.section-2 {
    background: -webkit-gradient(linear,left top, left bottom,from(#6673A3),to(#368FCC));
    background: linear-gradient(#6673A3,#368FCC);
    background-color: #368FCC;
    overflow: hidden;
    -webkit-transform: skewY(-3deg);
            transform: skewY(-3deg);
}

.section-2 .row {
    color: #fff;
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
}

.section-3 {
    margin-top: 50px;
}

.section-4 {
    color: #fff;
    background-color: #ededed;
    background: url(/imgs/geometry2.png);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    overflow-x: hidden;
}

.big-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 67px;
    height: 70px;
    width: 250px;
}