.home-jumbotron {
    color: #fff;
    width: 100%;
    background: linear-gradient(45deg ,#168CF1, #be6d6d) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    margin: 0px;
}

.jumbotron-content {
    display: block;
    position: absolute;
    top: 80%;
    left: 30%;
    width: 1000px;
    height: 900px;
    margin-top: -450px;
    /* Half the height */
    margin-left: -450px;
}
