.home-jumbotron {
    color: #fff;
    width: 100%;
    background: linear-gradient(-45deg, #CE6565, #5D92B5, #C14C4C, #368FCC);
    background-size: 400% 400%;
    background-color: #368FCC;
    height: 58vh;
    display: flex;
    align-items: center;
    margin: 0px;
    overflow: hidden;
    word-break: normal;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.home-jumbotron-small {
    display: none;
}


.main-heading {
    font-size: 2.5vw;
}

.sub-heading {
    font-size: 1.4vw;
}

.main-deer {
    margin-top: -40px;
    margin-right: -100px;
    width: 150%;
}

@media only screen and (max-width: 992px) {
    .main-heading {
        font-size: 25px;
    }

    .sub-heading {
        font-size: 20px;
    }
    .heading-lead {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .home-jumbotron {
        display: none;
    }

    .mobile-heading {
        margin-top: 30%;
    }
    .home-jumbotron-small {
        color: #fff;
        background: linear-gradient(#368FCC,#6673A3);
        background-color: #368FCC;
        height: 75vh;
        display: flex;
        align-items: center;
        margin: 0px;
        overflow: hidden;
    }

    .main-deer {
        margin-top: 10%;
        width: 95%;
    }
}